html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: Arial, sans-serif;
	background-color: #000080;
	position:relative;
}

h2 {
	color: red;
	font-style: italic;
}

.container {
	min-height:100%;
	position:relative;
}

.site-nav .menu-icon {
	display: none;
}

.site-header {
	width: 200px;
    float: left;
	background-color: #000080;
    height: 100%;
}

.site-header .trigger a {
	color: #FFFF00;
	font-weight: bold;
	display: block;
	padding: 8px 0;
	text-align: center;
}

.wrapper {
	padding: 10px;
}

.panel {
    float: right;
	width: calc(100% - 200px);
    height: 100%;
	background-image: url('/images/background.gif');
}

.page-content {
	padding: 0 15px;
}

.site-footer {
	margin: 0 auto; 
	position: relative;
	clear: both;
	text-align: right;
}

.post-meta {
	color: red;
    font-size: medium;
    font-weight: bold;
}

.post-content {
	padding-left: 10px;
}

.rss-subscribe {
	padding-top: 30px;
}

.frontpage-post-content {
	padding: 10px 0 15px;
}

.frontpage-post-content  li {
	list-style-type: none;
}

.frontpage-post-content  ul {
	padding: 0;
	margin: 0;
}

.gallery img {
    vertical-align: top;
	padding: 10px;
}

.gallery-content {
	text-align: center;
	margin: auto;
}
.gallery-content  p  {
    max-width: 500px;
    margin: 10px auto;
}

.gallery-content  p + img, .gallery-content .post  {
	margin-top: 45px;
}

.logo {
	max-width: 340px;
    width: 100%;
}

.gallery-content img {
	width: 100%;
	max-width: 1000px;
	display: block;
	margin: 15px auto;
}

.gallery-return {
	display: block;
    clear: both;
	margin: 15px 0;
}

.photo-of-the-month {
	font-style: italic;
}

.photo-of-the-month img {
	width: 100%;
	max-width: 650px;
}

@media screen and (max-width: 800px) {
	.wrapper {
		padding: 0;
	}
	.panel {
		width: 100%;
	}
	.site-nav {
        position:fixed;
        top: 9px;
        right: 15px;
        border-radius: 5px;
        text-align: left
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
		background-color: #000080;
    }

    .site-nav .menu-icon>svg {
        width: 18px;
        height: 15px;
    }

    .site-nav .menu-icon>svg path {
		fill: #FFFF00;
    }

    .site-nav .trigger {
        clear: both;
        display: none;
		background-color: #000080;
    }

    .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin: 0 20px;
    }

	.post-content {
		padding-left: 0px;
	}
}

