<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">Home</a>

    <nav class="site-nav">
      <div class="trigger">
		{% assign sorted_pages = site.pages | sort:"weight"  %}
        {% for my_page in sorted_pages %}
		    {% if my_page.menu == 'main' %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{% if my_page.menu-title %}{{ my_page.menu-title}}{% else %}{{ my_page.title}}{% endif %}</a>
		  {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
