---
layout: page
title: Gallery of models by club members
menu-title: Gallery
menu: main
weight: 60
---

<ul>
{% assign sorted_pages = site.pages | sort:"weight"  %}
  {% for my_page in sorted_pages %}
	{% if my_page.menu == 'showcase' %}
	<li><a href="{{ my_page.url | prepend: site.baseurl }}">{% if my_page.menu-title %}{{ my_page.menu-title}}{% else %}{{ my_page.title}}{% endif %}</a></li>
  {% endif %}
{% endfor %}
</ul>

<div class="gallery">
	<img border="0" src="/images/Modelshowcase1_thumb.jpg" width="200" height="114">
	<img border="0" src="/images/Modelshowcase2_thumb.jpg" width="200" height="121">
	<img border="0" src="/images/Modelshowcase3_thumb.jpg" width="200" height="125">
	<img border="0" src="/images/Modelshowcase4_thumb.jpg" width="200" height="112">
	<img border="0" src="/images/Modelshowcase5_thumb.jpg" width="200" height="88">
</div>
